




/*
     FILE ARCHIVED ON 0:22:39 Aug 8, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:13:40 Dec 19, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body {
  background-color:000000;
  color:000000;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
a:link { color: #000000; }
a:visited { color: #000000; }
a:active { color: #000000; }
td,th {
  background-color:FFFFFF;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.ns {
  color: #999999;
}
.s {
  color: #000011;
  font-weight: bold; 
}
